.Register {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: var(--linear-color);
}

.swal2-container.swal2-top.swal2-backdrop-show {
	width: 70%;
	min-width: 320px;
	max-width: 520px;
}

.swal2-popup.swal2-toast.swal2-icon-error.swal2-show {
	display: flex !important;
	justify-content: center;
	padding: 32px;
	border: 2px solid white;
	border-radius: 40px;
	background-color: rgba($color: white, $alpha: 0.1);
}

.swal2-popup.swal2-toast .swal2-html-container {
	color: white;
}
