:root {
	/* Colors */
	--primary-color: #8f57fd;
	--secondary-color: #21c08b;
	--linear-color: linear-gradient(var(--secondary-color), var(--primary-font));
	/* Font */
	--primary-font: 'Mulish', sans-serif;
}
